<h1>Estoque</h1>
<div class="form-container">
    
    <div class="form-group">
        <label for="firstName">Código do item</label>
        <input type="number" min="0" class="form-control" ng-model="vm.roupa.codigo" required ng-disabled="vm.atualizando"/>
    </div>

    <div class="form-group">
        <label for="firstName">Data de entrada</label>
        <input type="text" class="form-control" ng-model="vm.roupa.data" required />
    </div>

    <div class="form-group">
        <label for="firstName">Tipo</label>
        <select class="form-control" ng-model="vm.roupa.tipo" required>
            <option value="vestido">Vestido</option>
            <option value="saia">Saia</option>
            <option value="conjunto">Conjunto</option>
            <option value="camisa">Camisa</option>
            <option value="calca">Calça</option>
            <option value="regata">Regata</option>
        </select>        
    </div>

    <div class="form-group">
        <label for="firstName">Marca</label>
        <select class="form-control" ng-model="vm.roupa.marca" required>
            <option value="forum">Fórum</option>
            <option value="prada">Prada</option>
            <option value="dolce">Dolce Gabbana</option>
            <option value="namine">Namine</option>
            <option value="gucci">Gucci</option>
            <option value="bolovo">Bolovo</option>
        </select>        
    </div>

    <div class="form-group">
        <label for="firstName">Características</label>
        <textarea type="text" class="form-control" ng-model="vm.roupa.caracteristicas" required ></textarea>
    </div>

    <div class="form-group">
        <label for="firstName">Tamanho</label>
        <select class="form-control" ng-model="vm.roupa.tamanho" required>
                <option value="pp">PP</option>
                <option value="p">P</option>
                <option value="m">M</option>
                <option value="g">G</option>
                <option value="gg">GG</option>
                <option value="xg">XG</option>
            </select>       
    </div>

    <div class="form-group">
        <label for="firstName">Cor</label>
        <input type="text" class="form-control" ng-model="vm.roupa.cor" required />
    </div>

    <div class="form-group">
        <label for="firstName">Valor de etiqueta na compra</label>
        <input type="number" min="0.00" step="0.01" class="form-control" ng-model="vm.roupa.valorEtiqueta" required />
    </div>

    <div class="form-group">
        <label for="firstName">Valor pago na compra</label>
        <input type="number" min="0.00" step="0.01" class="form-control" ng-model="vm.roupa.valorCompra" required />
    </div>
 
    <div class="form-group">
        <label for="firstName">Preço sugerido</label>
        <input type="number" min="0.00" step="0.01" class="form-control" ng-model="vm.roupa.precoSugerido" required />
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" ng-click="vm.salvarRoupa()">Salvar</button>        
        <button class="btn btn-primary" ng-click="vm.cancelar()">{{vm.atualizando ? 'Cancelar' : 'Limpar'}}</button>        
    </div>
    
</div>
